@font-face{
  font-family: HelveticaNeue-Light;
  src:url('fonts/HelveticaNeue-Light.otf');
  src:url('fonts/HelveticaNeue-Light.eot');
  src:url('fonts/HelveticaNeue-Light.woff');
  src:url('fonts/HelveticaNeue-Light.ttf');
}

@font-face {
  font-family: HelveticaNeue-UltraLight;
  src: url('fonts/HelveticaNeue-UltraLight.otf');
  src: url('fonts/HelveticaNeue-UltraLight.eot');
  src: url('fonts/HelveticaNeue-UltraLight.woff');
  src: url('fonts/HelveticaNeueUltraLight.ttf');
}

@font-face {
  font-family: HelveticaNeue;
  src: url('fonts/HelveticaNeue.ttf');
  src: url('fonts/HelveticaNeue.eot');
  src: url('fonts/HelveticaNeue.woff');
}

@font-face {
  font-family:HelveticaNeueLTStd-Lt;
  src: url('fonts/HelveticaNeueLTStd-LtIt.otf');
  src: url('fonts/HelveticaNeueLTStd-LtIt.ttf');
  src: url('fonts/HelveticaNeueLTStd-LtIt.woff');
  src: url('fonts/HelveticaNeueLTStd-LtIt.eot');
}

@font-face {
  font-family: HelveticaNeueLTStd-UltLt;
  src: url('fonts/HelveticaNeueLTStd-UltLt.otf');
  src: url('fonts/HelveticaNeueLTStd-UltLt.ttf');
  src: url('fonts/HelveticaNeueLTStd-UltLt.woff');
  src: url('fonts/HelveticaNeueLTStd-UltLt.eot');
}

@font-face {
  font-family: HelveticaLTStd-Light;
  src: url('fonts/HelveticaLTStd-Light.otf');
  src: url('fonts/HelveticaLTStd-Light.ttf');
  src: url('fonts/HelveticaLTStd-Light.woff');
  src: url('fonts/HelveticaLTStd-Light.eot');
}

@font-face {
  font-family: HelveticaNeueLTStd-ThIt;
  src: url('fonts/HelveticaNeueLTStd-ThIt.otf');
  src: url('fonts/HelveticaNeueLTStd-ThIt.ttf');
  src: url('fonts/HelveticaNeueLTStd-ThIt.woff');
  src: url('fonts/HelveticaNeueLTStd-ThIt.eot');
}

@font-face {
  font-family: HelveticaNeue-Thin;
  src: url('fonts/HelveticaNeue-Thin.otf');
  src: url('fonts/HelveticaNeue-Thin.ttf');
  src: url('fonts/HelveticaNeue-Thin.woff');
  src: url('fonts/HelveticaNeue-Thin.eot');
}